<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Seçenek ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }} aradınız
</div>

<div class="row">
  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <tr>
          <th>Seçenek Metni</th>
          <th>Oy Sayısı</th>
          <th>Anket Başlığı</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let option of options">
          <td>{{option.optionText}}</td>
          <td>{{option.voteCount}}</td>
          <td>{{option.pollTitle}}</td>
      </tr>
  </tbody>
  </table>
</div>

<div class="mt-3">
  <div class="form-group">
    <button routerLink = "/options/add" class="btn btn-primary btn-lg">Seçenek Ekle</button>
  </div>
</div>